
* { box-sizing: border-box }

html{
    background-image: url('/images/background.jpg');
    background-position: center;
}

body {
    margin: 0 auto;
    min-height: 100vh;
    max-width: 500px;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
     color: #F8F8F8;
}

header{
    background-color: rgba(0, 0, 0, .3);
    padding: .7em .5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main{ padding: .5em }

img{ width: 100% }

.icon{ width: 7% }

.logo{ width: 20% }

.disabled { pointer-events: none }

/* ===========
Typography 
============ */

 h2{ margin-bottom: 2px }
 
 p{
    color: #B7B7B7;
    margin-top: 0; 
 }

/* ===========
Layout 
============ */

.badge{
    margin: 3em .5em;
    position: absolute;
    top: 0;
    display: none;
    width: 45%;
    transform: rotate(-30deg);
    transition: 1s;
}

.dog-card{
    /* background-image: Dog.js*/
    padding: .5em;
    border-radius: 15px;
    background-position: center;
    background-color: #b4b4b4;
    background-size: cover;
    width: 95%;
    margin: 0 auto;
    min-height: 75vh; 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

.actions-container{
    display: flex;
    justify-content: center;
}

.action{
    padding: 20px;
    border-radius: 50%;
    display: flex;
    box-shadow: 0px 0px 20px #b4b4b4;
    background-color: #FFFFFF;
    max-width: 100%;
    width: 65px;
    cursor: pointer;
    margin: .5em;
    transition: .2s;
}

.dislike-btn:hover,
.dislike-btn:active,
.dislike-btn:focus{
    background-color: #FFE7EF;
    transform: scale(1.08)    
}

.like-btn:hover,
.like-btn:active,
.dislike-btn:focus{
    background-color: #DBFFF4;
    transform: scale(1.08)    
}

.endlist-msg-container{
    padding: .8em;
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
}

.endlist-img{
    width: 50%;
}

.endlist-title{
    font-weight: bold;
    background: linear-gradient(270deg, #FA695A 0%, #F83375 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


